openapi: 3.1.0
info:
  title: Edooqoo — AI Worksheet Generator for English Teachers
  description: |
    Edooqoo is an AI-powered platform that generates personalized English worksheets for ESL/EFL teachers.
    
    ## Key Capabilities
    - Generate worksheets with 29 exercise types across 3 categories (Basic, Audio, Picture)
    - Support for all CEFR levels from A1 (Beginner) to C2 (Proficiency)
    - AI-powered automatic grading of open-ended student answers
    - Smart flashcards with SM-2 spaced repetition algorithm
    - 49-question AI placement test with speaking and listening
    - Student Hub portal for independent learning
    - Lesson calendar with Google Calendar sync and Google Meet
    - Nano-skill student progress tracking with mastery trends
    
    ## Exercise Types (29 total)
    
    ### Basic Exercises (20)
    Reading Comprehension, Fill in the Blanks, Multiple Choice, True/False Questions,
    Matching Exercise, Dialogue Practice, Answer Questions, Discussion Questions,
    Error Correction, Odd One Out, Matching Halves, Word Order, Gap Text (Cloze),
    Negative Prefixes, Categorization, Complete Word, Paraphrasing,
    Sentence Transformation, Synonyms Matching, Antonyms Matching
    
    ### Audio Exercises (5)
    Listening Comprehension, Fill in the Blanks (Audio), Multiple Choice (Audio),
    True/False (Audio), Answer Questions (Audio)
    
    ### Picture Exercises (4)
    Describe Picture, Multiple Choice (Picture), True/False (Picture),
    Answer Questions (Picture)
    
    ## Target Users
    Private English tutors, ESL/EFL instructors, Business English coaches,
    language school teachers, online English teachers, corporate language trainers
    
    ## Pricing
    - Free: 2 worksheets, all 29 exercise types
    - Side-Gig ($9/mo): 15 worksheets/month + homework + flashcards + calendar
    - Full-Time (from $19/mo): 30-90 worksheets/month + all features
    
    ## Website
    https://edooqoo.com
  version: 1.0.0
  contact:
    name: Edooqoo Support
    url: https://edooqoo.com
    email: support@edooqoo.com
servers:
  - url: https://edooqoo.com
    description: Edooqoo Platform
paths:
  /:
    get:
      operationId: getHomepage
      summary: Edooqoo homepage — AI worksheet generator for English teachers
      description: Landing page for Edooqoo, the AI-powered worksheet generator designed for ESL/EFL English teachers. Create personalized worksheets with 29 exercise types for CEFR levels A1-C2.
      responses:
        '200':
          description: Homepage HTML
  /about:
    get:
      operationId: getAbout
      summary: About Edooqoo — features, exercise types, FAQ, comparisons
      description: Comprehensive information about Edooqoo including all 29 exercise types, feature descriptions, FAQ, pricing, and comparisons with alternatives like ISLCollective, Liveworksheets, and BusyTeacher.
      responses:
        '200':
          description: About page HTML
  /pricing:
    get:
      operationId: getPricing
      summary: Edooqoo pricing plans for English teachers
      description: Pricing information including Free (2 worksheets), Side-Gig ($9/mo, 15 worksheets), and Full-Time plans (from $19/mo, 30-90 worksheets). All plans include all 29 exercise types.
      responses:
        '200':
          description: Pricing page HTML
  /prompts:
    get:
      operationId: getPrompts
      summary: 50+ ready-to-use prompts for English teachers
      description: Library of copy-paste prompts for creating English worksheets with AI. Categories include Vocabulary, Grammar, Reading, Speaking, Business English, and Exam Prep. Each prompt specifies CEFR level, topic, and exercise type.
      responses:
        '200':
          description: Prompts library page HTML
  /exercise-types:
    get:
      operationId: getExerciseTypes
      summary: All 29 exercise types in Edooqoo with descriptions and CEFR levels
      description: Detailed guide to all 29 exercise types available in Edooqoo — 20 basic, 5 audio, 4 picture. Each with description, best CEFR levels, and practical use cases for ESL/EFL teachers.
      responses:
        '200':
          description: Exercise types page HTML
  /how-it-works:
    get:
      operationId: getHowItWorks
      summary: How Edooqoo works — 8-step guide for English teachers
      description: Step-by-step guide from sign-up to full teaching workflow. Covers adding students, Welcome Test, worksheet generation, homework, flashcards, and progress tracking.
      responses:
        '200':
          description: How it works page HTML
  /glossary:
    get:
      operationId: getGlossary
      summary: ELT Glossary — 50+ English teaching terms with definitions
      description: Comprehensive glossary of English Language Teaching terminology including CEFR, ESL, EFL, TEFL, spaced repetition, scaffolding, differentiation, and more. Each term includes how Edooqoo supports the concept.
      responses:
        '200':
          description: Glossary page HTML
  /signup:
    get:
      operationId: getSignup
      summary: Sign up for Edooqoo — free account with 2 worksheet tokens
      description: Create a free Edooqoo account. New users receive 2 free tokens to generate worksheets immediately. No credit card required.
      responses:
        '200':
          description: Signup page HTML
  /resources:
    get:
      operationId: getResources
      summary: English Teaching Resources — 60+ guides, tools, and articles
      description: Content hub organizing all Edooqoo resources into topic clusters — worksheet generators, CEFR level guides, teaching tools, comparisons, and blog articles for English teachers.
      responses:
        '200':
          description: Resources page HTML
  /blog:
    get:
      operationId: getBlog
      summary: Edooqoo Blog — tips, guides, and resources for English teachers
      description: Practical blog articles covering AI teaching tips, worksheet creation guides, CEFR assessment strategies, exam preparation, business English, and ESL/EFL best practices.
      responses:
        '200':
          description: Blog index page HTML
  /edooqoo-vs-islcollective.html:
    get:
      operationId: getComparisonISLCollective
      summary: Edooqoo vs ISLCollective — AI Generated vs User-Uploaded Worksheets
      description: Comparison of Edooqoo (AI-generated personalized worksheets) with ISLCollective (user-uploaded resource library) for English teachers.
      responses:
        '200':
          description: Comparison page HTML
  /edooqoo-vs-liveworksheets.html:
    get:
      operationId: getComparisonLiveworksheets
      summary: Edooqoo vs Liveworksheets — Which is Better for English Teachers?
      description: Comparison of Edooqoo (AI worksheet generation) with Liveworksheets (manual interactive conversion) for English teaching.
      responses:
        '200':
          description: Comparison page HTML
  /edooqoo-vs-twee.html:
    get:
      operationId: getComparisonTwee
      summary: Edooqoo vs Twee — AI Worksheet Generators Compared
      description: Comparison of Edooqoo (complete teaching ecosystem with 29 exercise types) with Twee (AI content generator) for English teachers.
      responses:
        '200':
          description: Comparison page HTML
  /edooqoo-vs-magicschool.html:
    get:
      operationId: getComparisonMagicSchool
      summary: Edooqoo vs MagicSchool AI — Best AI Tool for English Teachers
      description: Comparison of Edooqoo (English-specific with CEFR support) with MagicSchool AI (general K-12) for English language teaching.
      responses:
        '200':
          description: Comparison page HTML
  /ai-tools-for-private-english-tutors.html:
    get:
      operationId: getForPrivateTutors
      summary: Best AI Tools for Private English Tutors
      description: How private English tutors use Edooqoo for personalized worksheets, student management, progress tracking, and lesson scheduling.
      responses:
        '200':
          description: Persona landing page HTML
  /worksheet-generator-for-language-schools.html:
    get:
      operationId: getForLanguageSchools
      summary: AI Worksheet Generator for Language Schools
      description: How language schools use Edooqoo to generate English worksheets at scale with AI, homework grading, and student progress tracking.
      responses:
        '200':
          description: Persona landing page HTML
  /ai-tools-for-online-esl-teachers.html:
    get:
      operationId: getForOnlineESLTeachers
      summary: Best AI Tools for Online ESL Teachers
      description: How online ESL teachers use Edooqoo for live sessions, lesson booking with Google Calendar, interactive worksheets, and remote teaching.
      responses:
        '200':
          description: Persona landing page HTML
  /blog/how-to-create-grammar-worksheets-with-ai.html:
    get:
      operationId: getBlogGrammarWorksheets
      summary: How to Create Grammar Worksheets with AI — Step-by-Step Guide
      description: Complete guide to generating grammar worksheets with AI, including best grammar topics by CEFR level and tips for effective practice.
      responses:
        '200':
          description: Blog article HTML
  /blog/vocabulary-teaching-strategies-esl.html:
    get:
      operationId: getBlogVocabularyStrategies
      summary: 10 Vocabulary Teaching Strategies for ESL Teachers
      description: Research-backed vocabulary teaching strategies with AI worksheet implementation examples for ESL/EFL classrooms.
      responses:
        '200':
          description: Blog article HTML
  /blog/reading-comprehension-activities-english.html:
    get:
      operationId: getBlogReadingActivities
      summary: 15 Reading Comprehension Activities for English Classes — A1 to C2
      description: Reading comprehension activities organized by CEFR level with AI-generated exercise examples.
      responses:
        '200':
          description: Blog article HTML
  /blog/fill-in-the-blanks-exercises-best-practices.html:
    get:
      operationId: getBlogFillInBlanks
      summary: Fill in the Blanks Exercises — Best Practices for English Teachers
      description: When to use gap-fill exercises, types of gap-fill, scaffolding by CEFR level, and grading strategies.
      responses:
        '200':
          description: Blog article HTML
  /blog/differentiated-instruction-english-classroom.html:
    get:
      operationId: getBlogDifferentiation
      summary: Differentiated Instruction in the English Classroom — Practical Guide
      description: 6 strategies for differentiating content in ESL/EFL classrooms with AI-powered personalization.
      responses:
        '200':
          description: Blog article HTML
  /blog/how-to-assess-english-level-cefr.html:
    get:
      operationId: getBlogCEFRAssessment
      summary: How to Assess English Level Using CEFR — Teacher's Guide
      description: Complete guide to CEFR levels, can-do statements, placement testing with AI, and progress tracking.
      responses:
        '200':
          description: Blog article HTML
  /blog/teaching-english-online-complete-guide.html:
    get:
      operationId: getBlogOnlineTeaching
      summary: Teaching English Online in 2026 — Complete Guide for ESL Teachers
      description: Setup, tools, lesson structure, engagement, scheduling, and growing your online tutoring business.
      responses:
        '200':
          description: Blog article HTML
  /blog/spaced-repetition-vocabulary-learning.html:
    get:
      operationId: getBlogSpacedRepetition
      summary: Spaced Repetition for Vocabulary Learning — How It Works
      description: The science of SM-2 algorithm, Ebbinghaus forgetting curve, and implementation in ESL classes.
      responses:
        '200':
          description: Blog article HTML
  /blog/ai-tools-for-english-teachers-2026.html:
    get:
      operationId: getBlogAITools2026
      summary: Best AI Tools for English Teachers in 2026 — Complete Guide
      description: Comprehensive comparison of AI teaching tools with evaluation criteria and recommendations.
      responses:
        '200':
          description: Blog article HTML
  /blog/ai-homework-grading-for-english-teachers.html:
    get:
      operationId: getBlogAIGrading
      summary: AI Homework Grading for English Teachers — Save Hours Every Week
      description: How AI grading works for open-ended English answers, teacher review workflow, and time savings.
      responses:
        '200':
          description: Blog article HTML
  /blog/ai-generated-listening-exercises-esl.html:
    get:
      operationId: getBlogListeningExercises
      summary: AI-Generated Listening Exercises for ESL — Text-to-Speech Guide
      description: How AI text-to-speech technology creates listening exercises for language teaching at all CEFR levels.
      responses:
        '200':
          description: Blog article HTML
  /blog/personalized-learning-english-teaching.html:
    get:
      operationId: getBlogPersonalizedLearning
      summary: Personalized Learning in English Teaching — Theory to AI Practice
      description: From learning theory to AI-powered personalization with nano-skill tracking and knowledge mapping.
      responses:
        '200':
          description: Blog article HTML
  /blog/cambridge-exam-preparation-tips-teachers.html:
    get:
      operationId: getBlogCambridgePrep
      summary: Cambridge Exam Preparation Tips for Teachers — KET to CPE
      description: Strategies and worksheet ideas for preparing students for Cambridge English exams with study schedules.
      responses:
        '200':
          description: Blog article HTML
  /blog/teaching-business-english-guide.html:
    get:
      operationId: getBlogBusinessEnglish
      summary: Teaching Business English — Complete Guide for ESL Tutors
      description: Key topic areas, industry vocabulary, role-play activities, assessment, and pricing for business English teaching.
      responses:
        '200':
          description: Blog article HTML
  /blog/ielts-preparation-worksheets-guide.html:
    get:
      operationId: getBlogIELTSPrep
      summary: IELTS Preparation Worksheets — Teacher's Guide
      description: Section-by-section IELTS breakdown with AI-generated practice materials and 4-week preparation plan.
      responses:
        '200':
          description: Blog article HTML
  /blog/communicative-language-teaching-activities.html:
    get:
      operationId: getBlogCLT
      summary: Communicative Language Teaching Activities for ESL
      description: Practical CLT activities including information gap, role-play, opinion exchange, and task-based activities with AI worksheet examples.
      responses:
        '200':
          description: Blog article HTML
  /blog/task-based-language-teaching-worksheets.html:
    get:
      operationId: getBlogTBLT
      summary: Task-Based Language Teaching Worksheets for ESL
      description: How to design TBLT worksheets covering pre-task, task cycle, and language focus phases with examples for all CEFR levels.
      responses:
        '200':
          description: Blog article HTML
  /blog/flipped-classroom-english-teaching.html:
    get:
      operationId: getBlogFlippedClassroom
      summary: Flipped Classroom for English Teaching — Complete Guide
      description: How to implement the flipped classroom model in ESL/EFL teaching with pre-class worksheets and in-class communicative activities.
      responses:
        '200':
          description: Blog article HTML
  /blog/gamification-english-classroom.html:
    get:
      operationId: getBlogGamification
      summary: Gamification in the English Classroom — Strategies & Activities
      description: Points, badges, leaderboards, quests, and game-based activities for ESL/EFL classes with AI worksheet support.
      responses:
        '200':
          description: Blog article HTML
  /blog/scaffolding-strategies-english-learners.html:
    get:
      operationId: getBlogScaffolding
      summary: Scaffolding Strategies for English Learners — Practical Guide
      description: 10 scaffolding strategies for ESL/EFL including sentence frames, visual supports, graphic organizers, and AI-differentiated worksheets.
      responses:
        '200':
          description: Blog article HTML
  /blog/formative-assessment-english-teaching.html:
    get:
      operationId: getBlogFormativeAssessment
      summary: Formative Assessment in English Teaching — Strategies & Tools
      description: Exit tickets, self-assessment, peer feedback, AI-graded homework, and nano-skill progress tracking for ESL/EFL teachers.
      responses:
        '200':
          description: Blog article HTML
  /present-simple-worksheets.html:
    get:
      operationId: getPresentSimpleWorksheets
      summary: Present Simple Worksheets for ESL Teachers
      description: Downloadable present simple exercises, activities, and AI-generated worksheets for all CEFR levels.
      responses:
        '200':
          description: Landing page HTML
  /past-simple-worksheets.html:
    get:
      operationId: getPastSimpleWorksheets
      summary: Past Simple Worksheets for English Teaching
      description: Past simple exercises, irregular verbs practice, and AI-generated worksheets for ESL/EFL classes.
      responses:
        '200':
          description: Landing page HTML
  /present-perfect-worksheets.html:
    get:
      operationId: getPresentPerfectWorksheets
      summary: Present Perfect Worksheets & Exercises for ESL
      description: Present perfect exercises with since/for, already/yet, and experience contexts for all CEFR levels.
      responses:
        '200':
          description: Landing page HTML
  /conditionals-worksheets-english.html:
    get:
      operationId: getConditionalsWorksheets
      summary: Conditionals Worksheets for English Teaching
      description: Zero, first, second, third, and mixed conditionals worksheets with AI-generated exercises.
      responses:
        '200':
          description: Landing page HTML
  /passive-voice-worksheets-esl.html:
    get:
      operationId: getPassiveVoiceWorksheets
      summary: Passive Voice Worksheets for ESL Teachers
      description: Passive voice exercises across all tenses with transformation activities and AI worksheet generation.
      responses:
        '200':
          description: Landing page HTML
  /reported-speech-worksheets.html:
    get:
      operationId: getReportedSpeechWorksheets
      summary: Reported Speech Worksheets for English Classes
      description: Direct to indirect speech exercises, backshift rules, and reporting verbs practice worksheets.
      responses:
        '200':
          description: Landing page HTML
  /articles-a-an-the-worksheets.html:
    get:
      operationId: getArticlesWorksheets
      summary: Articles (A/An/The) Worksheets for ESL
      description: English articles exercises covering definite, indefinite, and zero article usage with AI-generated practice.
      responses:
        '200':
          description: Landing page HTML
  /prepositions-worksheets-english.html:
    get:
      operationId: getPrepositionsWorksheets
      summary: Prepositions Worksheets for English Teaching
      description: Prepositions of time, place, and movement exercises with collocations and AI-generated worksheets.
      responses:
        '200':
          description: Landing page HTML
  /travel-english-worksheets.html:
    get:
      operationId: getTravelEnglishWorksheets
      summary: Travel English Worksheets for ESL Classes
      description: Travel vocabulary, airport, hotel, and directions exercises with AI-generated worksheets for all levels.
      responses:
        '200':
          description: Landing page HTML
  /food-and-cooking-english-worksheets.html:
    get:
      operationId: getFoodEnglishWorksheets
      summary: Food & Cooking English Worksheets for ESL
      description: Food vocabulary, cooking verbs, restaurant dialogues, and recipe-based exercises for English learners.
      responses:
        '200':
          description: Landing page HTML
  /job-interview-english-worksheets.html:
    get:
      operationId: getJobInterviewWorksheets
      summary: Job Interview English Worksheets & Exercises
      description: Interview preparation exercises, common questions practice, and professional vocabulary worksheets.
      responses:
        '200':
          description: Landing page HTML
  /health-and-body-english-worksheets.html:
    get:
      operationId: getHealthEnglishWorksheets
      summary: Health & Body English Worksheets for ESL
      description: Body parts, health vocabulary, doctor visit dialogues, and wellness topic worksheets for English learners.
      responses:
        '200':
          description: Landing page HTML
  /environment-climate-english-worksheets.html:
    get:
      operationId: getEnvironmentWorksheets
      summary: Environment & Climate English Worksheets
      description: Environmental vocabulary, climate change topics, and sustainability discussion worksheets for ESL classes.
      responses:
        '200':
          description: Landing page HTML
  /technology-english-worksheets.html:
    get:
      operationId: getTechnologyWorksheets
      summary: Technology English Worksheets for ESL
      description: Technology vocabulary, digital literacy topics, and AI/tech discussion worksheets for English learners.
      responses:
        '200':
          description: Landing page HTML
  /english-worksheets-for-kids.html:
    get:
      operationId: getWorksheetsForKids
      summary: English Worksheets for Kids — Fun ESL Activities
      description: Age-appropriate English worksheets for children with games, pictures, and engaging activities.
      responses:
        '200':
          description: Landing page HTML
  /english-worksheets-for-teenagers.html:
    get:
      operationId: getWorksheetsForTeenagers
      summary: English Worksheets for Teenagers — ESL Activities
      description: Engaging English worksheets designed for teenage learners with relevant topics and interactive exercises.
      responses:
        '200':
          description: Landing page HTML
  /english-worksheets-for-adults.html:
    get:
      operationId: getWorksheetsForAdults
      summary: English Worksheets for Adult Learners
      description: Professional and practical English worksheets designed for adult ESL/EFL learners.
      responses:
        '200':
          description: Landing page HTML
  /english-worksheets-for-corporate-training.html:
    get:
      operationId: getWorksheetsForCorporate
      summary: English Worksheets for Corporate Training
      description: Business English worksheets for corporate training programs with industry-specific vocabulary and scenarios.
      responses:
        '200':
          description: Landing page HTML
  /english-worksheets-for-exam-prep.html:
    get:
      operationId: getWorksheetsForExamPrep
      summary: English Worksheets for Exam Preparation
      description: Cambridge, IELTS, TOEFL, and general English exam preparation worksheets with practice exercises.
      responses:
        '200':
          description: Landing page HTML
  /modal-verbs-worksheets-esl.html:
    get:
      operationId: getModalVerbsWorksheets
      summary: Modal Verbs Worksheets for ESL Teachers
      description: Exercises and activities for teaching modal verbs (can, could, must, should, might) across all CEFR levels.
      responses:
        '200':
          description: Landing page HTML
  /future-tenses-worksheets-english.html:
    get:
      operationId: getFutureTensesWorksheets
      summary: Future Tenses Worksheets for English Teaching
      description: Will, going to, present continuous for future, and future perfect exercises with AI generation.
      responses:
        '200':
          description: Landing page HTML
  /relative-clauses-worksheets.html:
    get:
      operationId: getRelativeClausesWorksheets
      summary: Relative Clauses Worksheets for ESL
      description: Defining and non-defining relative clauses exercises with who, which, that, where, whose.
      responses:
        '200':
          description: Landing page HTML
  /gerunds-infinitives-worksheets.html:
    get:
      operationId: getGerundsInfinitivesWorksheets
      summary: Gerunds and Infinitives Worksheets
      description: Gerund vs infinitive exercises, verb patterns, and practice activities for ESL learners.
      responses:
        '200':
          description: Landing page HTML
  /comparatives-superlatives-worksheets.html:
    get:
      operationId: getComparativesSuperlativesWorksheets
      summary: Comparatives and Superlatives Worksheets
      description: Comparative and superlative adjective exercises, irregular forms, and practice activities.
      responses:
        '200':
          description: Landing page HTML
  /phrasal-verbs-worksheets-esl.html:
    get:
      operationId: getPhrasalVerbsWorksheets
      summary: Phrasal Verbs Worksheets for ESL
      description: Common phrasal verbs exercises organized by topic and level with matching and gap-fill activities.
      responses:
        '200':
          description: Landing page HTML
  /question-tags-worksheets.html:
    get:
      operationId: getQuestionTagsWorksheets
      summary: Question Tags Worksheets for English
      description: Question tag exercises with positive and negative forms, intonation practice, and communication activities.
      responses:
        '200':
          description: Landing page HTML
  /speaking-activities-esl-worksheets.html:
    get:
      operationId: getSpeakingActivities
      summary: Speaking Activities ESL Worksheets
      description: Discussion questions, role-play cards, debate prompts, and oral fluency activities for ESL classes.
      responses:
        '200':
          description: Landing page HTML
  /writing-worksheets-esl.html:
    get:
      operationId: getWritingWorksheets
      summary: Writing Worksheets for ESL Students
      description: Essay templates, writing prompts, paragraph construction, and process writing exercises for English learners.
      responses:
        '200':
          description: Landing page HTML
  /reading-activities-english-worksheets.html:
    get:
      operationId: getReadingActivities
      summary: Reading Activities English Worksheets
      description: Reading comprehension, skimming and scanning, vocabulary from context, and critical reading exercises.
      responses:
        '200':
          description: Landing page HTML
  /listening-activities-esl-worksheets.html:
    get:
      operationId: getListeningActivities
      summary: Listening Activities ESL Worksheets
      description: Listening comprehension, dictation, note-taking, and audio-based exercises for ESL classes.
      responses:
        '200':
          description: Landing page HTML
  /edooqoo-vs-quizlet.html:
    get:
      operationId: getComparisonQuizlet
      summary: Edooqoo vs Quizlet — AI Worksheets vs Flashcard App
      description: Comparison of Edooqoo (AI worksheet generation with 29 exercise types) and Quizlet (flashcard-based learning).
      responses:
        '200':
          description: Comparison page HTML
  /edooqoo-vs-kahoot.html:
    get:
      operationId: getComparisonKahoot
      summary: Edooqoo vs Kahoot — Worksheet Generator vs Quiz Platform
      description: Comparison of Edooqoo (comprehensive ESL worksheet platform) and Kahoot (game-based quiz tool).
      responses:
        '200':
          description: Comparison page HTML
  /edooqoo-vs-wordwall.html:
    get:
      operationId: getComparisonWordwall
      summary: Edooqoo vs Wordwall — AI-Powered vs Template-Based Activities
      description: Comparison of Edooqoo (AI-generated content) and Wordwall (template-based interactive activities).
      responses:
        '200':
          description: Comparison page HTML
  /edooqoo-vs-busyteacher.html:
    get:
      operationId: getComparisonBusyTeacher
      summary: Edooqoo vs BusyTeacher — AI Generation vs Resource Library
      description: Comparison of Edooqoo (AI worksheet generation) and BusyTeacher (community-uploaded resource library).
      responses:
        '200':
          description: Comparison page HTML
  /blog/how-to-teach-english-grammar-effectively.html:
    get:
      operationId: getBlogTeachGrammar
      summary: How to Teach English Grammar Effectively
      description: Grammar teaching strategies including inductive vs deductive approaches, PPP framework, and CEFR-aligned progression.
      responses:
        '200':
          description: Blog article HTML
  /blog/how-to-teach-speaking-esl.html:
    get:
      operationId: getBlogTeachSpeaking
      summary: How to Teach Speaking in ESL Classes
      description: Speaking activity frameworks, fluency vs accuracy balance, and engagement techniques for ESL/EFL classes.
      responses:
        '200':
          description: Blog article HTML
  /blog/how-to-teach-writing-esl-students.html:
    get:
      operationId: getBlogTeachWriting
      summary: How to Teach Writing to ESL Students
      description: Process writing, genre-based approach, feedback strategies, and AI-supported writing practice.
      responses:
        '200':
          description: Blog article HTML
  /blog/how-to-teach-english-pronunciation.html:
    get:
      operationId: getBlogTeachPronunciation
      summary: How to Teach English Pronunciation
      description: Minimal pairs, connected speech, stress and intonation, and pronunciation activities by L1 background.
      responses:
        '200':
          description: Blog article HTML
  /blog/how-to-plan-english-lessons-effectively.html:
    get:
      operationId: getBlogLessonPlanning
      summary: How to Plan English Lessons Effectively
      description: PPP, ESA, and TBL lesson planning frameworks with templates and timing strategies.
      responses:
        '200':
          description: Blog article HTML
  /blog/classroom-management-esl-tips.html:
    get:
      operationId: getBlogClassroomManagement
      summary: Classroom Management Tips for ESL Teachers
      description: Engagement techniques, behavior management, routines, and motivation strategies for ESL/EFL teachers.
      responses:
        '200':
          description: Blog article HTML